footer
  // 🔹 Social media links
  p Follow us: 
    a(href="https://facebook.com") Facebook |
    a(href="https://instagram.com") Instagram |
    a(href="https://twitter.com") Twitter

  // 🔹 Additional links for contact and privacy policy
  p
    a(href="/contact") Contact |
    a(href="/privacy") Privacy Policy
