footer
  p Follow us: 
    a(href="https://facebook.com") Facebook |
    a(href="https://instagram.com") Instagram |
    a(href="https://twitter.com") Twitter
  p
    a(href="/contact") Contact |
    a(href="/privacy") Privacy Policy
