footer.footer
  .footer-container
    .footer-left
      h2.logo-text !{`<span style="color:#f56300">Cooking</span><span style="color:#333">Club</span>`}
      button.newsletter-btn NEWSLETTERS
      p Follow Us
      .social-icons
        a(href="https://facebook.com", target="_blank")
          i.fab.fa-facebook-f
        a(href="https://instagram.com", target="_blank")
          i.fab.fa-instagram
        a(href="https://pinterest.com", target="_blank")
          i.fab.fa-pinterest-p
        a(href="https://tiktok.com", target="_blank")
          i.fab.fa-tiktok
        a(href="https://youtube.com", target="_blank")
          i.fab.fa-youtube
        a(href="https://flipboard.com", target="_blank")
          i.fab.fa-flipboard

    .footer-middle
      ul
        li: a(href="/recipes/category/11") Dinners
        li: a(href="/recipes/category/2") Vegan Recipes
        li: a(href="/recipes/category/12") Lunches
        li: a(href="/recipes/category/9") Breakfast
    .footer-right
      ul
        li: a(href="/about") About Us
        li: a(href="/contact") Contact
