extends layouts/layout

block content
  h1 Complete Your Registration

  if error
    p(style="color: red")= error

  form(action="/complete-registration", method="POST")
    label(for="username") Username
    input(type="text", name="username", required)

    label(for="first_name") First Name
    input(type="text", name="first_name", required)

    label(for="last_name") Last Name
    input(type="text", name="last_name", required)

    label(for="phone") Phone
    input(type="text", name="phone", required)

    label(for="password") Password
    input(type="password", name="password", required)

    button(type="submit") Register
