extends layouts/layout  

block styles
  link(rel="stylesheet", href="/css/hero.css")

block content
  .hero-banner
    .hero-text
      h1.hero-title Welcome to Cooking Club
      h2 Recipes for all Occasions
      p Discover, Share, and Enjoy Recipes from Around the World

  h2.latest-section-title Latest Recipes    

  