extends layouts/layoutMinimal

block styles
  link(rel="stylesheet", href="/css/login.css")

block content
  .login-container
    .login-left
      a.logo(href="/")
        span Cooking
        span.orange Club

      h2 Log in

      button.btn-social.btn-email
        i.fas.fa-envelope
        | Log in with Email

      button.btn-social.btn-facebook
        i.fab.fa-facebook
        | Log in with Facebook

      button.btn-social.btn-google
        i.fab.fa-google
        | Log in with Google

      p
        | Don’t have an account?
        a(href="/register") Join now

    .login-right
      img(src="/images/login-right.jpg", alt="Delicious food")
